@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
}

.container_site{
    display: flex;
    background-image: url(./assets/backgroundimg.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.nav_bar{
    background-color: burlywood;
    width: 10vw;
    height: 100vh;
}   

.box-titulo{
    /*background-color: aquamarine;*/
    width: 90vw;
    height: 20vh;   

    display: flex;
    align-items:flex-end;
    justify-content: center;
}

.box-titulo h1{
    color: #FFE607;
    text-decoration: solid;
    font-size: 3.5vw;
}

.container-formulario{
    /*background-color: cadetblue;*/
    width: 90vw;
    height: 80vh;
}
