body {
    background-color: rgb(61, 60, 60);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}


/* CABEÇALHO */

.banner {
    height: 100vh;
    width: 100%;
    background: url(../img/FundoHome.png);
    background-size: cover;
    display: flex;
}

.banner .texto {
    color: gray;
    text-align: left;
    padding-top: 150px;
    display: grid;
    max-width: 50vw;
}

.banner .titulo {
    padding: 50px;
    font-size: 48px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.imgtotem {
    justify-content: right;
    max-width: 50vw;
}

.imgtotem img {
    height: 100vh;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.neonText {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #F3E17F;
    color: #0a0a053b;
    text-shadow: 0 0 42px #eaf58b;
}


/* .container img {
        width: 90px;
    } */

.btHome {
    display: flex;
    justify-content: center;
}

.btPadrao {
    width: 190.97px;
    height: 69px;
    left: 77px;
    top: 715px;
    background: #FFFFFF;
    border-radius: 7.75515px;
    bleed: Pass through;
    /* padding: 5px;
        margin: 5px;
        background-color: #fff;
        color: #000000; */
}