* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #15151100;
    transition: background-color 0.5s ease;
}

header.stick {
    background-color: 151511;
    transition: background-color 0.5s ease;
}

li.stick>a {
    transition: background-color 0.5s ease;
    color: rgb(201, 156, 21);
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    display: block;
    color: #ffffff;
    padding: 30px 10px;
}


/* style padrão da navbar */

body {
    font-family: 'Roboto', sans-serif;
}

nav {
    background: #151511;
    padding: 5px 20px;
}

ul {
    list-style-type: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.link-ativo {
    text-decoration: underline overline;
    color: #FFE607;
    font-weight: 600;
    font-size: 20px;
}

.header a:hover {
    text-decoration: underline overline;
    text-decoration-color: #FFE607;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
    color: #FFE607;
    font-size: larger;
}

.logo img {
    width: 60px;
}

.menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}

.logo a,
.toggle a {
    font-size: 20px;
}


/* Mobile menu */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}


/* Navbar Toggle */

.toggle {
    cursor: pointer;
}

.bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.bars:before,
.bars:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.bars:before {
    top: 5px;
}

.bars:after {
    top: -5px;
}


/* Tablet menu */

@media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button a {
        padding: 10px 17px;
        color: #FFE607;
        border: 2px solid #FFE607;
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
        font-weight: bold;
    }
    .button a:hover {
        text-decoration: none;
        transition: all .25s;
    }
    .button:not(.secondary) a:hover {
        background: #ffffff;
        color: #FFE607;
        border: 2px solid #FFE607;
    }
    .button a {
        color: #FFE607;
        border: 2px solid #FFE607;
    }
    .button a:hover {
        background: #ffffff;
        color: #FFE607;
        border: 2px solid #FFE607;
    }
}


/* Desktop menu */

@media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 20px;
    }
    .menu li.button {
        padding-right: 0;
    }
}


/* fim style padrão da navbar */