/*************************************************************** inicio especificações da página ************************************************************/

body {
    background-color: #f1f5f9;
}

main {
    margin-top: 90px;
    padding: 2rem 1.5rem;
    min-height: calc(100vh - 90px);
}

.conteudo-principal {
    margin-left: 345px;
}


/*************************************************************** fim especificações da página ************************************************************/


/*****************************************************************  inicio cards  ************************************************************************/

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    width: 100%;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 2px #ccc
}

.align-items {
    display: flex;
    justify-content: center;
}

.desc-count {
    margin-right: 60px;
}


/* Estilizando imagem do card */

.card div img {
    height: 64px;
}

.count {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    cursor: default;
    color: rgba(0, 0, 0, 0.726);
}


/***********************************************************************  fim cards  ******************************************************************/


/***************************************************************  responsividade dashboard ************************************************************/


/* Responsividade */

@media only screen and (max-width: 1200px) {
    /* Mesmas config de quando esconde o menu*/
    .sidebar {
        width: 100px;
    }
    .sidebar li a span {
        display: none;
    }
    .sidebar .sidebar-marca .sidebar-logo img {
        display: none;
    }
    .sidebar .sidebar-marca .sidebar-logo-reduzido img {
        display: block;
    }
    .header-dashboard {
        margin-left: 100px;
    }
    .header-dashboard header {
        width: calc(100% - 100px);
        left: 100px;
    }
    .search-wrapper00 input {
        padding-left: 10% !important;
    }
}


/* Responsividade para o conteudo em telas menores min 42:00 https://www.youtube.com/watch?v=OJEQaVT45XA*/


/************************************************************* fim responsividade dashboard ******************************************************/


/******************************************************************* notificações ****************************************************************/


/* conteudo notificações */

.column-notificacoes {
    flex-direction: column;
}


/* Flex Container */

.container-notificacoes {
    max-width: 100%;
    margin-top: 35px;
    background-color: white;
    display: flex;
}


/* Flex Item */

.item-notificacoes {
    /* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
    flex: 1;
    margin: 10px;
    background: #e6e7eea9;
    text-align: end;
    font-size: 1.5em;
    border-radius: 5px;
}


/* estilização da data */

.data-notificacao {
    color: rgba(0, 0, 0, 0.562);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    justify-content: end;
    padding-right: 15px;
    padding-top: 15px;
}


/* estilização do link */

.link-notificacao {
    color: rgb(11, 19, 131);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    justify-content: end;
    padding: 15px;
    text-decoration: underline;
    cursor: pointer;
}


/* estilização do link com hover*/

.link-notificacao:hover {
    color: rgb(16, 31, 247);
    text-decoration: underline rgb(16, 31, 247);
}


/* estilização do titulo */

.titulo-notificacao {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    padding-left: 15px;
}


/* estilização da mensagem / descricao */

.msg-notificacao {
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}


/* titulo vermelho */

.vermelho-notif {
    color: #fe1717d8;
}


/* titulo amarelo */

.amarelo-notif {
    color: #FBC84F;
}


/* titulo verde */

.verde-notif {
    color: #17fe77d8;
}


/* div de rolagem */

.scroll {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 400px;
    overflow: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 2px #ccc;
    border-radius: 5px;
    margin-top: 50px;
}


/* barra de rolagem  das notificações*/

.scroll::-webkit-scrollbar {
    width: 10px;
}

.scroll::-webkit-scrollbar-track {
    background: #ffffff;
}

.scroll::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.247);
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.384);
}


/*************************************************************** fim notificações ****************************************************************/


/****************************************************************** titulos *********************************************************************/

.verde {
    background: #00959C;
    color: white;
    border: #00959C;
}

.amarelo {
    background: #FBC84F;
    color: white;
    border: #FBC84F;
}

.marinho {
    background: #03313D;
    color: white;
    border: #03313D;
}

.btn-padrao {
    outline: none;
    font-family: 'Poppins', sans-serif;
    height: 50px;
    text-align: center;
    width: 150px;
    border-radius: 50px;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    border: #ffffff00;
    position: absolute;
    margin-top: -20px;
    margin-left: 20px;
}


/****************************************************************** inicio style barra busca **********************************************************/

.barra-navegacao-home {
    margin-top: 30px;
    height: 75px;
    display: flex;
}

.barra-busca-home {
    background-color: white;
    width: 100%;
    height: 75px;
    box-shadow: 3px 3px 5px 2px #ccc;
    border-radius: 5px;
    display: flex;
}

.select-busca-home {
    background-color: white;
    width: 30%;
    height: 75px;
    box-shadow: 3px 3px 5px 2px #ccc;
    border-radius: 5px;
}

.search-wrapper2 {
    width: 100%;
    border-radius: 5px;
    height: 75px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper2 span {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}

.search-wrapper2 input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
    width: 95%;
}

.select-pers {
    width: 80%;
}

.select {
    align-items: center;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Resetando o Select */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #ffffff;
    background-image: none;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 100%;
    height: 50px;
    margin: 10px;
    padding: 10px;
    line-height: 3;
    background: #ffffff;
    overflow: hidden;
    border-radius: .25em;
}

select {
    flex: 1;
    padding: 0 .5em;
    color: rgb(34, 32, 32);
    font-size: 15px;
    cursor: pointer;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    margin-right: 10px;
    background: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
    color: #0F969D;
}

.select:hover::after {
    color: #0a6166;
}

.tam-select {
    width: 100%;
}


/****************************************************************** fim style barra busca ************************************************************/


/******************************************************************* inicio style gráfico   **********************************************************/

.grafico-analise {
    margin-top: 40px;
    background-color: white;
    box-shadow: 3px 3px 5px 2px #ccc;
    border-radius: 5px;
    height: 600px;
    width: 100%;
}

.grafico-analise1 {
    margin-top: 10px;
    height: 85%;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
}

.centralizando {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infos-grafico {
    padding-top: 35px;
    padding-left: 30px;
}

.desc-grafico {
    width: 100%;
    height: auto;
    padding-left: 30px;
    padding-top: 35px;
    padding-bottom: 10px;
    border-radius: 5px 5px 0 0;
}

.desc-grafico p {
    font-size: 15px;
}

.desc-marinho {
    background: #03313d57;
}

.desc-amarelo {
    background: #fbc74f54;
}

.desc-verde {
    background-color: #00949c54;
}


/******************************************************************* fim style gráfico   **********************************************************/


/************************************************** inicio style gráfico menor e perfil funcionário **********************************************/


/********** inicio style gráfico menor **************/

.divs {
    width: 100%;
    margin-top: 75px;
}

.row-wrap-divs {
    flex-flow: row wrap;
}

.container-divs {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
}

.item-divs {
    flex: 1;
    background-color: white;
    box-shadow: 3px 3px 5px 2px #ccc;
    border-radius: 5px;
    text-align: initial;
    font-size: 1.5em;
}

.container-chart2 {
    padding-top: 100px;
    width: 80%;
    margin: 20px auto;
}


/********** fim style gráfico menor **************/


/******************************************************************* notificações ****************************************************************/

.desc-not {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
    height: 50px;
}

.tipos-alertas {
    display: flex;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 200px;
    text-align: center;
    margin-left: 20px;
    margin-right: 5px;
}

.red {
    background-color: #F5B2B2;
    color: #C33737;
}

.yellow {
    background-color: #FADC94;
    color: #D0950A;
}

.card-not {
    background: #fff;
    border-radius: 5px;
    display: inline-block;
    height: auto;
    margin: 0.5rem;
    position: relative;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-1-not {
    box-shadow: 3px 3px 5px 2px #ccc;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.info-freezer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.icon-infos-freezer {
    margin-top: 8px;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    background-color: #FEEBC0;
    color: #FBC84F;
    font-size: 20px;
    text-align: center;
    padding: 3px;
}

hr {
    border-color: #e4e4e452;
}

.infos-freezer p {
    font-size: 12px;
    color: #909090;
}

.infos-freezer h3 {
    color: #242424;
    font-size: 18px;
    font-weight: 500;
}

.infos-temperatura {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.infos-temperatura p {
    color: #242424;
    font-size: 18px;
    font-weight: 500;
}

.infos-temperatura h3 {
    font-weight: 600;
    font-size: 30px;
}

.alert {
    margin-top: 22px;
}

.arm {
    width: 20px;
    height: 20px;
    background-color: #FBC84F;
    border-radius: 5px;
    margin-right: 7px;
}

.loc {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: 1px solid #FBC84F;
    border-radius: 200px;
    margin-right: 7px;
}

.infos-loc h4 {
    font-size: 12px;
    color: #909090;
    font-weight: 500;
}

.infos-endereco {
    margin-top: 10px;
}

.info-endereco {
    padding: 10px;
}

.info-endereco h5 {
    color: #242424;
    font-size: 18px;
    font-weight: 500;
}

.infos-loc p {
    color: #242424;
    font-size: 14px;
    font-weight: 550;
}

.infos-freezer img {
    margin-top: 7px;
    margin-right: 10px;
    height: 35px;
    width: 35px;
    border-radius: 200px;
}

.flex-at {
    display: flex;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    border-radius: 5px;
    visibility: hidden;
    width: 200px;
    background-color: #FBC84F;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


/*pesquisa*/

.search-wrapper00 {
    width: 100%;
    border-radius: 5px;
    height: 75px;
    display: flex;
    align-items: center;
}

.search-wrapper00 input {
    font-size: 17px;
    height: 100%;
    padding-left: 18%;
    border: none;
    outline: none;
    width: 100%;
    box-shadow: 3px 3px 5px 2px #ccc;
}