/*---------------------LOGIN---------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: Roboto-Bold;
  src: url(https://fonts.google.com/specimen/Roboto?query=roboto);
  background-image: url("https://media.discordapp.net/attachments/952244264639799401/957755929917546556/image_126_1.png?width=702&height=499");
  background-size: cover;
  background-color: #383413;
  /*border: 3px solid pink;*/
 }

.container-login {
  width: 100%;
  margin: auto;
  display: flex;
  /*border: 3px solid rgb(185, 185, 125);*/
}

.header-login h1{
  color: #FFE607;
  font-size: 8vh;
  text-align: center;
}

.header-login .container-login {
  margin-bottom: 5vh;
}

/* DESENVOLVIMENTO */

.desenvolvimento-login .container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(70, 68, 68);
  border-radius: 20px;
  width: 55vw;
  height: 55vh;
  /*border: 3px solid pink;*/
}

.desenvolvimento-login .container-login .imagem-login img { 
  width: 15vw;
  height: 30vh;
  float: left;
  /*border: 3px solid rgb(0, 105, 100);*/
}

.desenvolvimento-login .container-login .info-icon {  
  margin-left: 16vw;
  width: 1.5vw;
  height: 3vh;
  /*border: 3px solid rgb(105, 0, 0);*/
}

.desenvolvimento-login .container-login .info-icon:hover {  
  transition: 5ms;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 2px 25px 0 #ffffffc5;
  cursor: pointer;
  display:block;
  /*border: 3px solid rgb(105, 0, 0);*/
}

.desenvolvimento-login .container-login h3{
  margin-bottom: 2vh;
  font-size: 4vh;
  font-weight:lighter;
  color: #fff;
  /*border: 3px solid rgb(105, 0, 18);*/
}

.desenvolvimento-login .container-login input {
  width: 18vw;
  height: 6vh;
  margin-bottom: 4vh;
  border-radius: 6px;
  border-style: none;
  /*border: 3px solid rgb(224, 112, 130);*/
}

.desenvolvimento-login .container-login button {
  background-color: black;
  color: #fff;
  margin-top: 5vh;
  width: 14vw;
  font-family: Roboto-Light;
  padding: 1vh;
  border-radius: 28px;
  border: 1px solid #fff;
}

.desenvolvimento-login .container-login button:hover {
  transition: 5ms;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}


/*----------------------FIM LOGIN----------------------*/





