<div class="modal fade" id="succes-action" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-position-medium">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> @if (ViewBag.Success == true) {
                <h4 class="modal-title modal-title-bold" id="myModalLabel"><span class="modal-logo glyphicon glyphicon-ok-circle" aria-hidden="true"></span>Sucesso</h4>
                } else {
                <h4 class="modal-title modal-title-bold" id="myModalLabel"><span class="modal-logo error glyphicon glyphicon-remove-sign" aria-hidden="true"></span>Erro</h4>
                }
            </div>
            <div class="modal-body">
                @if (ViewBag.Success == true) {
                <p>Um email foi enviado para <b>@ViewBag.EmailLabel</b> contento instruções para redefinir sua senha.</p>
                } else {
                <p>Não foi possível enviar um email para <b>@ViewBag.EmailLabel</b> contento instruções para redefinir sua senha.</p>
                <p>Por favor, contate a equipe de suporte do sistema PRODANÇA.</p>
                }
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-primary btn-min-size">OK</button>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            $(document).on('keypress', function(e) {
                if (e.keyCode == 13) {
                    $('.modal').modal('hide');
                }
            });
        });
    </script>
    <!-- Botão para acionar modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ExemploModalCentralizado">
    Abrir modal de demonstração
  </button>

    <!-- Modal -->
    <div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado">Título do modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn-primary">Salvar mudanças</button>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <!-- AdminLTE App -->
    <script src="../plugins/bootstrap-colorpicker/css/"></script>
    <script src="../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../dist/js/demo.js"></script>
    <!-- Page specific script -->
    <script src="../plugins/inputmask/jquery.inputmask.min.js"></script>